name: Docker Image CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.build_image.outputs.image_tag }}  # Pass the image tag as an output for the next job

    steps:
      - uses: actions/checkout@v4

      # Build the Docker image
      - name: Build the Docker image
        id: build_image
        run: |
          IMAGE_TAG=arkdev1/proto-prod-app:latest
          docker build . --file Dockerfile --tag $IMAGE_TAG
          docker images  # List Docker images to confirm the build
          echo "::set-output name=image_tag::$IMAGE_TAG"  # Set the image tag as an output for the next job

      # Save the Docker image to a tarball for use in the next job
      - name: Save Docker image
        run: |
          IMAGE_TAG=arkdev1/proto-prod-app:latest
          docker save -o proto-prod-app.tar $IMAGE_TAG  # Save the image to a tarball file
          
      # Upload the image tarball as an artifact to be used in the next job
      - name: Upload Docker image artifact
        uses: actions/upload-artifact@v3
        with:
          name: docker-image
          path: proto-prod-app.tar

  push:
    runs-on: ubuntu-latest
    needs: build  # Ensure push only runs after the build job completes
    steps:
      - uses: actions/checkout@v4

      # Download the Docker image tarball from the previous job
      - name: Download Docker image artifact
        uses: actions/download-artifact@v3
        with:
          name: docker-image

      # Load the Docker image from the tarball
      - name: Load Docker image
        run: |
          docker load -i proto-prod-app.tar  # Load the image from the tarball

      # Docker Login
      - name: Docker Login
        run: |
          echo "Logging into Docker..."
          docker login -u arkdev1 -p ${{ secrets.DOCKERHUB_TOKEN }}
          docker info  # Show Docker setup info

      # Push the Docker image
      - name: Push the Docker image
        run: |
          IMAGE_TAG=${{ needs.build.outputs.image_tag }}  # Use the image tag from the build job
          echo "Pushing the Docker image..."
          docker push $IMAGE_TAG
