name: Docker Image CI

on:
   workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag proto-prod-app:latest
      - name: Pushing image
        run: |
          docker login -u arkdev1 -p ${{ secrets.DOCKERHUB_TOKEN }}
          docker push proto-prod-app:$(date +%s)
